.react-datepicker-wrapper {
    display: block;
}
.react-datepicker__month-select, .react-datepicker__year-select{
    background-color: #3e85f3;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    width: 90px;
    outline: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}


.react-datepicker__day {
    color: #fff;
}

.react-datepicker__day:hover {
    background-color: #fff;
    color: #3e85f3;
    border-radius: 100%;
}

.react-datepicker__day--weekend {
    color: rgba(255, 255, 255, 0.3);
}

.react-datepicker__day--selected {
    color: #3e85f3;
    background-color: #fff;
    border-radius: 100%;
}

.react-datepicker {
    background-color: #3e85f3;
}

.react-datepicker__header {
    background-color: #3e85f3;
    color: #fff;
    border: none;
}

.react-datepicker__current-month {
    color: #fff;
    font-size: 16px;
}

.react-datepicker__navigation {
    color: #fff;
}

.react-datepicker__day-name {
    color: #fff;
}

.react-datepicker {
    border-radius: 10px;
}

/* .react-datepicker__day--weekend {
  color: rgba(255, 255, 255, 0.3);
} */

.react-datepicker__day--outside-month {
    color: transparent;
}

.react-datepicker__navigation--previous {
    left: 3px;
    top: 8px;
}

.react-datepicker__navigation--next {
    right: 3px;
    top: 8px;
}

.react-datepicker__day-name {
    color: #ffff;
    font-family: inherit;
    font-size: 16px;
}

.react-datepicker__header {
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
}