@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-400.woff2') format('woff2'),
    url('./assets/fonts/Inter-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-500.woff2') format('woff2'),
    url('./assets/fonts/Inter-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-600.woff2') format('woff2'),
    url('./assets/fonts/Inter-600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-700.woff2') format('woff2'),
    url('./assets/fonts/Inter-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/poppins-v20-latin-500.woff2') format('woff2');
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

p, h1, h2, h3, h3, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: scale(1);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}