.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 18px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 32px;
  }
}

.swiper-slide {
  background-color: none; 
  display: flex;
  justify-content: center;
  align-items: center;
}